@tailwind components;

.goal_container {
  @apply flex justify-between py-16 max-md:py-8 max-lg:flex-col gap-7 lg:gap-[138px];
  .title_container {
    @apply lg:max-w-[318px] w-full min-[1200px]:pr-20;
  }

  .goal_content {
    @apply lg:text-2xl font-helvetica_light text-text-color text-xl;
    line-height: 150%;
  }

  .statistics_inner {
    max-width: 204px;
    width: 100%;
    .statistics {
      @apply block text-7xl font-helvetica_light max-md:text-[32px];
    }
    .statistics_name {
      @apply block text-xl text-text-color text-opacity-40 max-md:text-[16px];
    }
  }
}
