@tailwind components;

.lang_container {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
  
    &.active {
      max-height: 200px; 
      opacity: 1;
      visibility: visible;
    }
  }
  
