@font-face {
    font-family: "HelveticaNeue Black";
    src: url("/fonts/HelveticaNeue-Black.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue Bold";
    src: url("/fonts/HelveticaNeue-Bold.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue BoldItalic";
    src: url("/fonts/HelveticaNeue-BoldItalic.otf") format("opentype");
    font-style: normal;
  }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedBlack";
  //   src: url("/fonts/HelveticaNeue-CondensedBlack.otf") format("opentype");
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedBold";
  //   src: url("/fonts/HelveticaNeue-CondensedBold.otf") format("opentype");
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedLight";
  //   src: url("/fonts/HelveticaNeue-CondensedLight.otf") format("opentype");
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedMedium";
  //   src: url("/fonts/HelveticaNeue-CondensedMedium.otf") format("opentype");
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedRegular";
  //   src: url("/fonts/HelveticaNeue-CondensedRegular.otf") format("opentype");
  //   font-style: normal;
  // }
  
  // @font-face {
  //   font-family: "HelveticaNeue CondensedThin";
  //   src: url("/fonts/HelveticaNeue-CondensedThin.otf") format("opentype");
  //   font-style: normal;
  // }
  
  @font-face {
    font-family: "HelveticaNeue Italic";
    src: url("/fonts/HelveticaNeue-Italic.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue Light";
    src: url("/fonts/HelveticaNeue-Light.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue LightItalic";
    src: url("/fonts/HelveticaNeue-LightItalic.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue Medium";
    src: url("/fonts/HelveticaNeue-Medium.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue Regular";
    src: url("/fonts/HelveticaNeue-Regular.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue Thin";
    src: url("/fonts/HelveticaNeue-Thin.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue ThinItalic";
    src: url("/fonts/HelveticaNeue-ThinItalic.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue UltraLight";
    src: url("/fonts/HelveticaNeue-UltraLight.otf") format("opentype");
    font-style: normal;
  }
  
  @font-face {
    font-family: "HelveticaNeue UltraLightItalic";
    src: url("/fonts/HelveticaNeue-UltraLightItalic.otf") format("opentype");
    font-style: normal;
  }