@tailwind components;

@layer components {
  .image {
    @apply w-1/6 min-w-[136px] grid place-items-center;
  }

  .image {
    img {
      filter: grayscale(100%);
      max-width: 100%;
      transition: filter 0.3s ease;
      @media (min-width: 768px) {
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
}
