.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 999;

  @media (min-width: 768px) {
    bottom: 48px;
  }

  .navbar_list {
    &.navbar_list_active {
      animation: slideDown 0.4s forwards;
      .active_nav {
        animation: slideUpActiveNav 0.4s forwards;
      }
    }

    &.navbar_list_hidden {
      animation: slideUp 0.4s forwards;

      .active_nav {
        animation: slideDownActiveNav 0.4s forwards;
      }
    }
    @apply text-text-color flex gap-4 max-md:gap-1 items-center justify-center p-[6px] rounded-md overflow-hidden;
    border: 1px solid rgba(255, 255, 251, 0.6);
    background: rgba(167, 167, 167, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    max-width: 78px;
    transition: max-width 0.5s ease;

    .navbar_list_link {
      @apply inline-block py-[6px] px-3 rounded leading-6 max-md:px-[10px] max-md:py-2 cursor-pointer select-none;

      &.active_nav {
        @apply bg-white text-text-color;
      }
    }
  }
}

@keyframes slideDown {
  from {
    max-width: 78px;
    color: transparent;
  }
  to {
    max-width: 447px;
    color: rgb(34 34 34 / var(--tw-text-opacity));
  }
}

@keyframes slideUp {
  from {
    max-width: 447px;
    color: rgb(34 34 34 / var(--tw-text-opacity));
  }
  to {
    max-width: 78px;
    color: transparent;
  }
}

@keyframes slideDownActiveNav {
  from {
    color: transparent;
    background-color: transparent;
  }
  to {
    color: rgb(34 34 34 / var(--tw-text-opacity));
    background-color: white;
  }
}

@keyframes slideDownActiveNav {
  from {
    color: rgb(34 34 34 / var(--tw-text-opacity));
    background-color: white;
  }
  to {
    color: transparent;
    background-color: transparent;
  }
}

