@tailwind components;

@layer components {
  .parallax_imagesListContainer {
    @apply w-min overflow-hidden pb-8 lg:pb-16;
  }
  .parallax_imageList {
    @apply p-0 m-0 flex gap-6 overflow-hidden;
  }
  .parallax_imageList_Item {
    @apply relative overflow-hidden;
  }
  .parallax_imageList_imgContainer {
    @apply relative overflow-hidden bg-primary rounded-md;
  }
  .parallax_imageList_Item_img {
    @apply absolute top-0 left-0 w-full h-full object-cover max-w-full block object-top;
  }
  .about {
    @apply p-3 pb-6 lg:p-9 lg:pb-9 bg-primary flex flex-col lg:flex-row rounded-3xl gap-6;
  }
  .image {
    @apply h-[343px] md:h-[660px] w-full;
  }
  .image img {
    @apply w-full h-full object-cover object-right rounded-2xl;
  }
  .content {
    @apply w-full py-[18px] text-white flex flex-col justify-between gap-6;
  }
  .texts {
    @apply flex flex-col gap-6;
  }
  .heading {
    @apply text-[24px] md:text-[30px] xl:text-[32px] font-helvetica_regular leading-tight;
  }
  .paragraph {
    @apply font-helvetica_thin text-[16px] md:text-[22px] xl:text-[24px] leading-normal;
  }
}

.parallax_imagesListContainer {
  position: relative;
  --dimensions-multiplier: 3;
  --gutter: 1.5rem;
  padding-left: var(--gutter);
  @media (min-width: 967px) {
    padding-left: calc(var(--gutter) + 8.5vw);
    --dimensions-multiplier: 1;
  }
  .parallax_imageList_Item {
    &:first-child {
      .parallax_imageList_imgContainer {
        width: calc(16.4vw * var(--dimensions-multiplier));
        height: calc(13vw * var(--dimensions-multiplier));
      }
    }
    &:nth-child(2) {
      .parallax_imageList_imgContainer {
        width: calc(31.2vw * var(--dimensions-multiplier));
        height: calc(20.5vw * var(--dimensions-multiplier));
      }
    }
    &:nth-child(3) {
      .parallax_imageList_imgContainer {
        width: calc(14.8vw * var(--dimensions-multiplier));
        height: calc(14.8vw * var(--dimensions-multiplier));
      }
    }
    &:nth-child(4) {
      .parallax_imageList_imgContainer {
        width: calc(31.2vw * var(--dimensions-multiplier));
        height: calc(22vw * var(--dimensions-multiplier));
      }
    }
    &:nth-child(5) {
      .parallax_imageList_imgContainer {
        width: calc(23.8vw * var(--dimensions-multiplier));
        height: calc(15.6vw * var(--dimensions-multiplier));
      }
    }
    &:nth-child(6) {
      .parallax_imageList_imgContainer {
        width: calc(14.8vw * var(--dimensions-multiplier));
        height: calc(24.4vw * var(--dimensions-multiplier));
      }
    }
  }
}
